h1{
    text-align: center;
    font-size: 48px;
    background-color: red;
}
div{
    background-color:chartreuse;
	font-size: 25px;
}
div h2{
    font-size: 36;
    background-color: yellow;
}
a{
    font-size: 36px;
    color: #0007f4;
}
div div{
    background-color: #1cc8ff;
}
div div p{
    font-size: 20;
    font-weight: bold;
}
h2{
    background-color: white;
}
div div div{
    background-color: orange;
	height: 430px;
	overflow-y: scroll;
}
/* THIS IS ACROSS ALL WEBSITES/*/
		    ul:first-child{
			        list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
			}
			#home{
			     display: inline;
				 padding-left: 0px;
			}
			#about{
			     display: inline;
				 padding-left: 20px;
			}
			#gallery{
			     display: inline;
				 padding-left: 20px;
			}
			#thanks{
			     display: inline;
				 padding-left: 20px;
			}
			#youtube{
			    display: inline;
				padding-left: 20px;
			}
			#excel{
			    width: 30em;
				height: 3em;
			}