h1{
    text-align: center;
    font-size: 48px;
    background-color: red;
}
#notext{
    text-decoration: none;
	font-size: 48px;
	font-family: Times;
	color: black;
	background-color: transparent;
	border: none;
}
#notext:hover{
    color: white;
}
#notext:active{
    color: #CC00CC;
}
#nobox{
    background-color: transparent;
	border: none;
}
div{
    background-color:chartreuse;
	font-size: 25px;
}
div h2{
    font-size: 36;
    background-color: yellow;
}
a{
    font-size: 36px;
    color: #0007f4;
	border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
	text-decoration: none;
    background-color: #EEEEEE;
}
a:hover{
   color: #FFFF00;
}
div div{
    background-color: #1cc8ff;
}
div div p{
    font-size: 20;
    font-weight: bold;
}
h2{
    background-color: white;
}
div div div{
    background-color: orange;
	height: 430px;
	overflow-y: scroll;
}
/* THIS IS ACROSS ALL WEBSITES/*/
		    ul:first-child{
			        list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
			}
			#home{
			     display: inline;
				 padding-left: 0px;
			}
			#about{
			     display: inline;
				 padding-left: 20px;
			}
			#gallery{
			     display: inline;
				 padding-left: 20px;
			}
			#thanks{
			     display: inline;
				 padding-left: 20px;
			}
			#youtube{
			    display: inline;
				padding-left: 20px;
			}
			#documentaries{
			   display: inline;
			   padding-left: 20px;
			}
			#privacy{
			   display: inline;
			   padding-left: 20px;
			}
			#audio{
			   display: inline;
			   padding-left: 20px;
			}
			#facts{
				width: 20em;
				height: 3em;
				background-color: salmon;
			}
			#facts:hover{
				background-color:aqua;
			}
			#facts:active{
				background-color:blueviolet;
			}
			#excel{
			    width: 20em;
				height: 3em;
				background-color: #FF00FF;
			}
			#excel:hover{
			    background-color: chartreuse;
			}
			#excel:active{
			    background-color: #00FFFF;
			}
			#game{
			    width: 20em;
				height: 3em;
				background-color: orange;
			}
			#game:hover{
			    background-color: #FFFFFF;
			}
			#game:active{
			   background-color: #000000;
			}
			#table{
			   border-width: 5px;
			   border-style: solid;
			   border-color: black;
			   text-align: center;
			   margin-left: auto;
			   margin-right: auto;
			   width: 70%;
			}
			td{
			   border-style: dashed;
			   border-color: black;
			}
			tr{
			   border-style: dashed;
			   border-color: purple;
			}